.nav-link {
    color: #05386B !important;
    font-family: MainFont;
    font-size: x-large;
    }
    @font-face {
        font-family: MainFont;
        src: url(Fonts/BAHNSCHRIFT.TTF);
    }


.nav-link{
  font-size: xx-large;
}

#HomeImage{
  width:38%;
  height:91.7%;
  float:left;
}
#ProjectTitle{
  font-family: MainFont;
  font-size: 500%;
  color: #05386B;
  text-align: center;
}
#ProjectsText{
  font-family: MainFont;
  font-size: 500%;
  color: white;
  text-align: center;
}
.flex-container{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  justify-content: center; 
}

#titletext{
  font-family: MainFont;
  float:right;
  width:45%;
  height: 20%;
  font-size: 700%;
  color: white;
  margin-top: 10%;
}
#AboutMeTitle{
  font-family: MainFont;
  float:left;
  width:45%;
  height: 20%;
  font-size: 700%;
  color: white;
  margin-top: 10%;
}
#maintext{
  font-family: MainFont;
  float:left;
  width:50%;
  height: 20%;
  font-size: 120%;
  color: white;
 
}
#AboutImage{
  width:40%;
  height:91.7%;
  float:right;
  margin-right: 5%;
}