.nav-link {
    color: #05386B !important;
    font-family: MainFont;
    font-size: x-large;
    }
    @font-face {
        font-family: MainFont;
        src: url(Fonts/BAHNSCHRIFT.TTF);
      }


.nav-link{
  font-size: xx-large;
}

#HomeImage{
  width:40%;
  height: 91.7%;
  float:left;
}
#titletext{
  font-family: MainFont;
  float:right;
  width:45%;
  height: 20%;
  font-size: 700%;
  color: white;
  margin-top: 10%;
}
