#ProjectNameTitle{
    font-family: MainFont;
    text-align: center;
    font-size: 500%;
    color: #05386B !important;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }
  .flex-container-row {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content:center;
    margin-bottom: 5%;
  }

  .flex-container-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-container-row2 {
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
    justify-content:center;
    margin-bottom: 5%;
  }
  
  
  

  #ProjectImage1>img {
    width: 900px;
    height: auto;
    padding-right: 5%;
    
  }
  #Leerling>img {
    width: 500px;
    height: auto;
    margin-left: -20%;
    
  }
  #MezelfImage>img {
    width: 800px;
    height: auto;
    padding-right: 5%;
    
  }
  #ProjectImage2>img {
    width: 800px;
    height: auto;
  }
  
  #ProjectImage3>img {
    width: 700px;
    height: auto;
    padding-right: 5%;
  }
  #PortfolioImages>img {
    width: 700px;
    border: 2px solid black;
    height: auto;
    margin-left: -7%;
  }
  #PortfolioImages>img {
    width: 700px;
    border: 2px solid black;
    height: auto;
    margin-left: -7%;
  }
  #PortfolioImages1>img {
    width: 700px;
    border: 2px solid black;
    height: auto;
  
  }

  #PosterImage>img {
    width: 400px;
    height: auto;
    
  }
  #PosterImage{
    font-family: MainFont;
    color: white;
  }
  #ProjectPageText {
    width: 80%;
    height: 50%;
    font-size: 130%;
    
  }
  #projectsection{
    font-family: MainFont;
    color: white;
    margin-left: 5%;
    
  }
  #projectsectiontext{
    font-family: MainFont;
    color: white;
  }
  .ImageSection{
    margin-right: 5%;
  }
  .ImageSection2{
    margin-left: 5%;
  }
  #HeaderProject{
    color: #05386B !important;
  }
 




